version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3001:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://host.docker.internal:8000
    extra_hosts:
      - "host.docker.internal:host-gateway"
